page-login {
  /* .back_image {
    background: url('/assets/imgs/Tungabhadra_Dam__0.jpg'); background-size:cover;
  } */
  .site-logo {
    margin: 0 auto;
    display: block;
    width: 100px;
    margin-bottom: 10px;
	}
	
	.scroll-content {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  
  ion-grid {
    justify-content: center;
    height: 100%;
  }
  
  ion-item {
    margin-bottom: 15px !important;
  }
  
  .btn-action {
    height: 40px !important;
    display: block;
    border-radius: 20px;
    text-align: center;
    padding: 8px 12px;
    font-size: 20px;
    margin-bottom: 30px;
    width: 90%;
    background-color: #3abfe0;
    color: #fff;
    font-weight: 700;
    margin-left: 6%;
    margin-top: 30px;
  }
  .logo {
    h3 {
      text-align: center;
      // color: #fff;
      margin-bottom: 10px;
      font-size: 26px;
    }
    ion-item {
      border-radius: 20px;
    }
    p {
      // color: #fff;
      text-align: center;
      font-size: 20px;
      margin-block-start: 0px;
      margin-block-end: 5px;
      // margin-bottom: 50px;
    }
    .login_text{
      margin-bottom: 37px;
    }
    ion-icon {
      padding: 3px;
      background: #c7c4c4;
      border-radius: 50%;
      font-size: 20px;
      color: #fff;
    }
  }
}

