  
<ion-content class="back_image" padding>
  <div class="back" >
    <ion-list>
      <ion-row>
        <ion-col col-12>
          <img src="./assets/imgs/Telengana_State_Emblem.png" class="img-responsive site-logo" />
          <div class="login_text">
            <p>Sixth Minor Irrigation Censes</p>
            <!-- <p>M/O Water Resources, RD & GR</p> -->
            <p>Government of Telangana</p>
          </div>
          <h3>Register</h3>
        </ion-col>
      </ion-row>
      <ion-row style="background-color: #fff;border-radius: 10px;">
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>State</ion-label>
            <ion-select interface="popover" name="state" [(ngModel)]="user.state" (ionChange)="selectNext('state')">
              <ion-option [value]="Telangana">Telangana</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>District</ion-label>
            <ion-select interface="popover" [(ngModel)]="user.district" (ionChange)="selectNext('district')">
              <ion-option *ngFor="let dist of district" [value]="dist">{{dist}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>Block/Tehsil</ion-label>
            <ion-select interface="popover" [(ngModel)]="user.mandal" (ionChange)="getDirectory()">
              <ion-option *ngFor="let mand of mandal" [value]="mand">{{mand}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>Village</ion-label>
            <ion-select interface="popover" [(ngModel)]='user.village' (ionChange)="selectedDirectory(user.village)">
              <ion-option *ngFor="let vil of village" [value]="vil">{{vil.village}}</ion-option>
            </ion-select>
            <!-- <ion-select interface="popover" [(ngModel)]="user">
              <ion-option [value]="user">{{user}}</ion-option>
            </ion-select> -->
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>UserName</ion-label>
            <ion-input type="text" disabled [(ngModel)]="user.username"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button style="margin: 0 auto; width: 100%;" (click)="register(user)">Submit</button>
      </ion-row>
      <ion-row style="margin: 0 auto; font-size: 16px; font-weight: 600;padding: 15px 170px;">
        <a (click)="navTo()">Login</a>
      </ion-row>
    </ion-list>
  </div>
</ion-content>
  
  
  
