page-register {
	.back {
		// background-color: #fff;
		margin-top: 15%;	
		img {
			margin: 0 auto;
			display: block;
			width: 100px;
			margin-bottom: 10px;
		}
		h3 {
      text-align: center;
      // color: #fff;
      margin-bottom: 10px;
      font-size: 26px;
		}
		p {
      // color: #fff;
      text-align: center;
      font-size: 20px;
      margin-block-start: 0px;
      margin-block-end: 5px;
      // margin-bottom: 50px;
    }
    .login_text{
      margin-bottom: 37px;
		}
		/* button {
			margin-top: 10%
		} */
		ion-select, ion-input {
			border: 1px solid #333;
			border-radius: 10px;
			padding: 8px 12px !important;
		}
		ion-input {
			padding: 2px 12px !important;
		}
		ion-label {
			font-size: 1.6rem;
    	font-weight: 500;
		}
	}
	.list-ios .item-block .item-inner {
    border-bottom: none;
	}
	.item-ios.item-block .item-inner {
			border-bottom: none;
	}
	
}
