<!--
  Generated template for the SyncPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sixth Minor Irrigation Census</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="back_image" style="background: url('./assets/imgs/3.jpg'); background-size:cover;">
  <h2 class="dataMsg" *ngIf="isUploaded">{{isUploaded}}</h2>
  <div>
    <ion-list no-lines class="local_list">
      <ion-row *ngIf="user.type == 'admin' && isNetwork"> 
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>State</ion-label>
            <ion-select interface="popover" name="state" [(ngModel)]="user.state" (ionChange)="selectNext('state')">
              <ion-option [value]="Telangana">Telangana</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>District</ion-label>
            <ion-select interface="popover" [(ngModel)]="user.district" (ionChange)="selectNext('district')">
              <ion-option *ngFor="let dist of district" [value]="dist">{{dist}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>Block/Tehsil</ion-label>
            <ion-select interface="popover" [(ngModel)]="user.mandal" (ionChange)="getDirectory()">
              <ion-option *ngFor="let mand of mandal" [value]="mand">{{mand}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>Village</ion-label>
            <ion-select interface="popover" [(ngModel)]='user.village' (ionChange)="changedVillage(user.village)">
              <ion-option *ngFor="let vil of village" [value]="vil">{{vil.village}}</ion-option>
            </ion-select>
            <!-- <ion-select interface="popover" [(ngModel)]="user">
              <ion-option [value]="user">{{user}}</ion-option>
            </ion-select> -->
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item *ngFor="let water of waterList" (click)="navToView(water)">
        <ion-thumbnail item-start>
          <img *ngIf="page == 'report'" src="{{server_url+'photo/'+water.imageFile.filename}}">
          <img *ngIf="page == 'sync'" src="{{water.photo}}">
        </ion-thumbnail>
        <p>ID: <span>{{water.sl_no}}</span></p>
        <p>Survery Number: <span>{{water.uik2}}</span></p>
        <p>Cultivator Name: <span>{{water.cultivator}}</span></p>
        <p>Land Type: <span>{{water.scheme}}</span></p>
        <p item-end style="margin-top: -55px;"><span>{{water.enumeration | date}}</span></p>
      </ion-item>
    </ion-list>
    <!-- <button ion-button full (click)="syncData()" *ngIf="waterList?.length > 0 && page=='sync'" >Sync</button> -->
  </div>
</ion-content>
