page-home {
	
	.circle_count {
		border: 1px solid #333;
    border-radius: 50%;
    height: 100px;
    width: 75%;
    padding: 10px;
    margin: 7px 0px 7px 22px;
	}

	.circle_count_outer {
		border: 1px solid #333;
    border-radius: 50%;
    padding: 10px 0px;
  }
  .col_text {
    color: #fff;
  }
}
