<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sixth Minor Irrigation Census</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="back_image" style="background: url('./assets/imgs/3.jpg'); background-size:cover;">
  <ion-grid>
    <ion-row *ngIf="user?.directory && user.type != 'admin'" class="col_text">
      <ion-col col-6>State: {{user.directory.state_name}}</ion-col>
      <ion-col col-6>District: {{user.directory.district_name}}</ion-col>
      <ion-col col-6>Mandal: {{user.directory.mandal}}</ion-col>
      <ion-col col-6>Village: {{user.directory.village}}</ion-col>
    </ion-row>
    <ion-row *ngIf="user.type=='admin'">
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>State</ion-label>
          <ion-select interface="popover" name="state" [(ngModel)]="user.state" (ionChange)="selectNext('state')">
            <ion-option [value]="Telangana">Telangana</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>District</ion-label>
          <ion-select interface="popover" [(ngModel)]="user.district" (ionChange)="selectNext('district')">
            <ion-option *ngFor="let dist of district" [value]="dist">{{dist}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>Block/Tehsil</ion-label>
          <ion-select interface="popover" [(ngModel)]="user.mandal" (ionChange)="getDirectory()">
            <ion-option *ngFor="let mand of mandal" [value]="mand">{{mand}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>Village</ion-label>
          <ion-select interface="popover" [(ngModel)]='user.village' (ionChange)="selectVillage(user.village)">
            <ion-option *ngFor="let vil of village" [value]="vil">{{vil.village}}</ion-option>
          </ion-select>
          <!-- <ion-select interface="popover" [(ngModel)]="user">
            <ion-option [value]="user">{{user}}</ion-option>
          </ion-select> -->
        </ion-item>
      </ion-col>
    </ion-row>
    <div style="background-color: rgba(0, 0, 0, 0.68); border-radius: 5px; margin: 25px 0;padding: 15px 0;">
      <ion-row class="text-center">
        <p style="font-weight: 600; font-size: 16px;">No.of Records in Village</p>
      </ion-row>
      <ion-row class="text-center">
        <p>Water Body Schedule</p>
      </ion-row>
      <ion-row class="text-center">
        <ion-col col-12 >
          <div class="circle_count_outer" style="width: 50%; margin: 0 auto;">
            <div class="circle_count" style="background-color: #3b9ea9">
              <p><b>Rural</b></p>
              <p>{{user.ruralCount}}</p>
            </div>
          </div>
        </ion-col>
        <!-- <ion-col col-6>
          <div class="circle_count_outer">
            <div class="circle_count" style="background-color: orange">
              <p><b>Urban</b></p>
              <p>{{user.urbanCount}}</p>
            </div>
          </div>
        </ion-col> -->
      </ion-row>
    </div>
    <ion-row class="text-center">
      <p style="font-weight: 600; font-size: 16px;"><u>Manual Instructions</u></p>
    </ion-row>
  </ion-grid>
</ion-content>
