// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.text-center {
	text-align: center;
	p, div{
		width: 100%;
	}
}

/* .back_image {
	background: url('./assets/imgs/Tungabhadra_Dam__0.jpg'); background-size:cover;
} */

.side_list {
	background: rgba(0, 0, 0, 1);
	ion-item {
		background-color: rgba(0, 0, 0, 1);
		button {
			color: #fff;
			background: rgba(0, 0, 0, 1);
		}
	}
}
ion-toolbar {
	.toolbar-background.toolbar-background-ios,.toolbar-background.toolbar-background-md{
		background: #3b9ea9;
		
	}
	p {
		color: #fff;
		text-align: center;
	}
}
.active {
	background: #33a7c4;
}
.item-ios, .item-md{
	background: rgba(0, 0, 0, 0.68) !important;
	color:#fff;
}
.item-ios .label, .item-md .label{
	color:#3b9ea9;
}
.popover-ios .popover-arrow::after, .popover-md .popover-arrow::after{
	background:rgba(0, 0, 0, 0.68) !important;
}
.toolbar-background-ios, .toolbar-background-md{
	background: hsla(0, 0%, 0%, 0.69);
	color: #fff !important;
}
.toolbar-title-ios, .toolbar-title-md{
	color:#fff;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
	color: #fff;
	background-color: transparent;
}
p{
  color:#fff !important;
}
.back_image {
  background: url('./assets/imgs/3.jpg'); background-size:cover;
}

.item-md.item-block .item-inner {
	border-bottom: none !important;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
	border-bottom-color: none !important;
	box-shadow: none !important;
}