page-water-body-schedule {
	ion-content {
		div.back {
			background: #fff !important;
			// margin: 16px;
		}
	}
	ion-select, ion-input, ion-datetime {
		border: 1px solid #333;
		background: #fff;
		border-radius: 10px;
		padding-left: 12px !important;
	}
	ion-label {
		font-size: 1.5rem !important;
    font-weight: 500;
	}
	ion-item {
		background-color: #fff !important; 
	}
	.select-disabled, .item-select-disabled ion-label, .radio-disabled, .item-radio-disabled ion-label {
    opacity: 1;
	}
	ion-radio {
		/* border: 1px solid #333;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 1px 2px; */
	}

	ion-item .item-inner {
		border-bottom: none !important;
	}
	
	.item-ios .radio-ios[item-left], .item-ios .radio-ios[item-start] {
    margin: 0px 10px 8px 3px;
	}

	.camera_icon {
		font-size: 3em;
    margin: 0 auto;
    color: #fff;
    background-color: #3abfe0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0px 7px;
	}
	.image_preview {
		margin: 16px auto;
    height: 100px;
    width: 129px;
    background: #3abfe0;
    color: #fff;
    text-align: center;
    padding: 36px 0;
	}
	.list-md .item-input:last-child {
    border-bottom: transparent !important;
	}
	.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
		border-bottom-color: transparent !important;
		box-shadow: none;
	}
	.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
		box-shadow: none;
	}
}
