<!--
  Generated template for the WaterBodySchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sixth Minor Irrigation Census</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="back_image" padding style="background: url('./assets/imgs/3.jpg'); background-size:cover;">
  <div class="back" >
    <ion-list radio-group disabled="true" style="margin: 0;" [(ngModel)]="user.directory.area">
      <ion-row class="text-center">
        <ion-col col-6>
          <ion-item>
            <ion-radio value="rural" item-start></ion-radio>
            <ion-label stacked>Rural</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-radio value="urban" item-start></ion-radio>
            <ion-label stacked>Urban</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>State</ion-label>
            <ion-select disabled="true" name="state" [(ngModel)]="user.directory.state_name">
              <ion-option [value]="user.directory.state_name">{{user.directory.state_name}}</ion-option>
              <!-- <ion-option value="Telengana2" >Telengana2</ion-option> -->
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>District</ion-label>
            <ion-select disabled="true" [(ngModel)]="user.directory.district_name">
              <ion-option [value]="user.directory.district_name" >{{user.directory.district_name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>Block/Tehsil</ion-label>
            <ion-select disabled="true" [(ngModel)]="user.directory.mandal">
              <ion-option [value]="user.directory.mandal">{{user.directory.mandal}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>Village</ion-label>
            <!-- <ion-select interface="popover" [(ngModel)]='selectedDirectory' (ionChange)="changedVillage(selectedDirectory)">
              <ion-option *ngFor="let vil of directory" [value]="vil">{{vil.village}}</ion-option>
            </ion-select> -->
            <ion-select disabled="true" interface="popover" [(ngModel)]='user.directory.village'>
              <ion-option [value]="user.directory.village">{{user.directory.village}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <!-- <ion-col col-12>
          <ion-item>
            <ion-label stacked>Sl. number of water body with in village/town</ion-label>
            <ion-input type="text" disabled placeholder="Unique key Generated by Server" [(ngModel)]="wbs.sl_no"></ion-input>
          </ion-item>
        </ion-col> -->
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Date of Enumeration</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select Date" pickerFormat="DD MMM YYYY" [(ngModel)]="wbs.enumeration"></ion-datetime>
            <!-- <ion-input type="text"></ion-input> -->
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <!-- <ion-label stacked>Sl. number of water body with in village/town</ion-label> -->
            <ion-label stacked>Sl. number of Scheme</ion-label>
            <ion-input type="text" [(ngModel)]="wbs.sl_no2" (ionChange)="updateUIK()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Unique identification key for water body</ion-label>
            <ion-input type="text" disabled [(ngModel)]="wbs.uik2" ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Survey number</ion-label>
            <ion-input type="text" [(ngModel)]="wbs.survey"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Cultivator Name</ion-label>
            <ion-input type="text" [(ngModel)]="wbs.cultivator"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Type of Source</ion-label>
            <ion-select interface="popover" [(ngModel)]="wbs.sourceType">
              <ion-option value="GW">GW</ion-option>
              <ion-option value="SWS">SWS(below 2000 Hect.)</ion-option>
              <ion-option value="CWB"> CWB other than irrigation purpose & above 2000 cca</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <!-- <ion-col col-12>
          <ion-item>
            <ion-label stacked>Type of Scheme</ion-label>
            <ion-select interface="popover" [(ngModel)]="wbs.scheme">
              <ion-option value="Ground Water">Ground Water</ion-option>
              <ion-option value="Lift Irregation">Lift Irregation</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Govt WB ID</ion-label>
            <ion-input type="text" [(ngModel)]="wbs.govt_wbId" (keyup)="formatGovtId($event)"></ion-input>
          </ion-item>
        </ion-col> -->
      </ion-row>
      <ion-row>
        <button class="camera_icon" (click)="takePhoto()">
          <ion-icon name="camera" style="font-size: 1em;"></ion-icon>
        </button>
      </ion-row>
      <ion-row>
        <div class="image_preview" *ngIf="!wbs.photo">image preview</div>
        <img src="{{wbs.photo}}" *ngIf="wbs.photo" style="height: 150px; width: 150px; margin: 0 auto; padding: 10px;">
      </ion-row>
      <ion-row *ngIf="wbs.location" style="text-align: center; padding-bottom: 20px;color: #fff;">
        <ion-col col-12><b>Latitude:</b> {{wbs.location.latitude}}</ion-col>
        <ion-col col-12><b>Longitude:</b> {{wbs.location.longitude}}</ion-col>
      </ion-row>
      <ion-row>
        <button ion-button style="margin: 0 auto; width: 100%;" (click)="saveOffline(wbs)">Submit</button>
      </ion-row>
    </ion-list>
  </div>
</ion-content>


